<h2>TissRoR</h2>
<%=link_to "people", person_search_path%>

<%=link_to  "theses",thesis_search_path%>

<%=link_to  "projects",project_search_path%>

<%=link_to  "courses",course_search_path%>

<%=link_to  "login", static_pages_login_path%>