<!--%provide :username, @user[:username] %-->
<h2>TissRoR</h2>
<%=link_to "people", person_search_path%>

<%=link_to  "theses",thesis_search_path%>

<%=link_to  "projects",project_search_path%>

<%=link_to  "courses",course_search_path%>

<h4>Favourites</h4>

<%=link_to  "Favourite people",{controller: 'favourite', action: 'show', type: "PERSON"}%>

<%=link_to  "Favourite theses",{controller: 'favourite', action: 'show', type: "THESIS"}%>

<%=link_to  "Favourite projects",{controller: 'favourite', action: 'show', type: "PROJECT"}%>

<%=link_to  "Favourite courses",{controller: 'favourite', action: 'show', type: "COURSE"}%>
