<h1 >Login</h1>
<p>Find me in app/views/static_pages/login.html.erb</p>
<%=form_for(@user, url: static_pages_loggedin_path) do |f|%>
  <%= f.label(:username) %>
  <br>
  <%= f.text_field(:username) %>
  <br>
  <!--%= label_tag(:password, "Password") %>
  <br>
  <!--%= password_field_tag(:password) %-->
  <!--br-->
  <%= submit_tag("Login") %>
<%end%>

<%=link_to("New User?", static_pages_login_path)%>

