<%provide :controller, @controller%>
<% favourite_course_find_by = Favourite.find_by(user_id: @user[:id], item_id: @hash[:id])%>
<%provide :isFavourite, "#{favourite_course_find_by.nil?}" %>
<%provide :id, @hash[:id]%>
<%provide :name, "#{@hash[:name]}"%>
<%provide :type, 'THESIS' %>
<%provide :filled, 'filled' %>
<%=render 'layouts/detail' %>

<div class="container">
  <h3><%= @hash[:title]%></h3>
  <dt>Type:</dt>
  <dd><%= @hash[:gender]=='M'?'Male':'Female' %></dd>

  <dt>Institute:</dt>
  <dd><%= "#{@hash[:institute]} #{@hash[:instituteName]}" %></dd>

  <dt>Faculty:</dt>
  <dd><%= "#{@hash[:facultyCode]} #{@hash[:facultyName]}" %></dd>

  <dt>Keywords:</dt>
  <dd><%= @hash[:keywords] %></dd>

  <dt>Language:</dt>
  <dd><%= @hash[:language] %></dd>

  <dt>Advisor:</dt>
  <dd><%= @hash[:advisor] %></dd>
</div>