<h2>Search Results</h2>
<h3>Keyword is <%= @expression %></h3>

<% if @list.length > 0 %>
  <table>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Details</th>
      <th>Favorites</th>
    </tr>
    <% @list.each do |item| %>
      <%
        puts item
        pref = item["prefixTitle"] || ""
        post = item["postfixTitle"] || ""
        firstname = item["firstname"] || ""
        lastname = item["lastname"] || ""
        fullname = "#{pref} #{firstname} #{lastname} #{post}"
        gender = item["gender"] || ""
        id = item["id"] || ""
      %>
      <tr>
        <td><%= fullname %></td>
        <td><%= gender %></td>
        <td><%= link_to "Details", {:controller => "person", :action => "detail", :person_id => id }%></td>
        <!--td><!--%=link_to  "Favorites", static_pages_login_path%></td-->
      </tr>
    <% end %>
<% else %>
  There is no item match with the search expression
<% end %>
</table>
<%=link_to "Back_to_search", person_search_path%>
