<h3> Details <%= yield(:id) %> </h3>
<header>
  <%=link_to "Back to list", url_for(action: "list", controller: @controller.controller_name) %>
  <% if yield(:isFavourite) %>
    <%= link_to "Add to favourite", url_for(action: "addFav", controller: @controller.controller_name) %>
  <% else %>
    <%= link_to "Remove from favourite", url_for(action: "removeFav", controller: @controller.controller_name) %>
  <% end %>
</header>

<% @hash.each do |key, value| %>
  <%puts key, value %>
  <h4><%= key %>:</h4>
  <%= value %>
  <br>
<% end %>

<footer>
  <%=link_to "Back to list", url_for(action: "list", controller: @controller.controller_name) %>
  <% if yield(:isFavourite) %>
    <%=link_to "Add to favourite", url_for(action: "addFav", controller: @controller.controller_name, :id=>yield(:id), :name=>yield(:name))%>
  <%else%>
    <%=link_to "Remove from favourite", url_for(action: "removeFav", controller: @controller.controller_name)%>
  <%end%>
</footer>