<script>
    $(document).ready(function () {
        $('#listTable').DataTable({
            "paging": false, "info": false, "searching":false,
            "aoColumns": [
                null,
                {"bSortable": false}
            ]
        });
    });
</script>
<% provide :title, "Search Results" %>
<%= render 'layouts/simple_second_nav' %>
<div class="container" style=" margin-top:48px;" xmlns:style="http://www.w3.org/1999/xhtml">
    <h4>Keyword is <b><%= yield(:keyword) %></b></h4>
</div>

<div class="container">
  <% if @list && @list.length > 0 %>
    <table id="listTable" class="table table-condensed table-hover table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Favourites</th>
      </tr>
      </thead>
      <tbody>
      <% @list.each do |item| %>
        <tr>
          <td><%= link_to item[:title], {:controller => @controller, :action => "detail", :id => item[:id]} %></td>
          </td>
          <td id=<%= "\"fav-#{item[:id]}\"".html_safe %>>
            <% if !item[:isFavourite] %>
              <%= link_to "#{image_tag("add2.png", size: "36x36")}".html_safe,
                          {:controller => 'favourite', :action => "add", :type => yield(:type),
                           :id => item[:id], :title => item[:title]}, :remote => true %>
            <% else %>
              <%= link_to "#{image_tag("remove2.png", size: "36x36")}".html_safe,
                          {:controller => 'favourite', :action => "remove", :type => yield(:type),
                           :id => item[:id], :title => item[:title], :isFavourite=>false}, :remote => true %>
            <% end %>
          </td>
        </tr>
      <% end %>

      </tbody>
  <% else %>
    There is no item match with the search expression
  <% end %>
  </table>
</div>
<div style="margin-top:68px">
  <%= will_paginate @list, :page_links => true, :inner_window => 1, :outer_window => 0,
                    :next_label => "<span aria-hidden=\"true\">&raquo;</span>
        <span class=\"sr-only\">Next</span>".html_safe,
                    :previous_label => "<span aria-hidden=\"true\">&laquo;</span>
        <span class=\"sr-only\">Previous</span>".html_safe,
                    :class => "container-fluid p-0 mb-0 bg-primary navbar-fixed-bottom" %>
</div>
<!--%= link_to "Back_to_search", url_for(action: "search", controller: @controller) %-->
