<div class="container">
<%puts yield(:favourite)%>
<%if yield(:favourite)==""%>
  <h2>Search Results</h2>
  <h3>Keyword is <%= yield(:keyword) %></h3>
<%else%>
  <h2>Favourite <%=yield(:favourite)%></h2>
<%end%>
</div>

<div class="container">
<% if @list && @list.length > 0 %>
  <table class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <!--th>Gender</th-->
      <th>Details</th>
      <!--th>Favorites</th-->
    </tr>
    </thead>
    <tbody>
    <% @list.each do |item| %>
      <tr>
        <td><%= item[:name] %></td>
        <td><%= link_to "Details", {:controller => @controller, :action => "detail", :id => item[:id]} %></td>
      </tr>
    <% end %>
    </tbody>
<% else %>
  There is no item match with the search expression
<% end %>
</table>
</div>

<div class="container">
  <ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="disabled"><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="active"><a href="#">6</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
<%= link_to "Back_to_search", url_for(action: "search", controller: @controller) %>
