<div class="container">

<h1><%=yield(:title)%> Search</h1>
<%= form_tag(yield(:forwardPath), method: :get) do %>
    <div class="form-group">
  <%= label_tag(:expression, "Search for:") %>
  <%= text_field_tag(:expression) %>
    </div>
  <%= submit_tag "Search", class: "btn btn-primary btn-md"%>
<% end %>
</div>